/* gallery.css */
.gallery-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff; 
    color: #333333; 
  }

.project-card {
  margin: auto;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid black;
}

.project-card img {
  max-width: 100%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 15px;
}
p{
  padding: 15px;
}
