/* Resume.css */
.resume-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff; 
  color: #333333; 
}
section {
  margin-bottom: 20px;
}
h2 {
  color: #1f8fde;
}
h3 {
  color: #333333; 
}
ul {
  list-style: disc;
  margin-left: 20px;
}
li{
    line-height: 23px;
}
p {
  margin: 10px 0;
}
